
<div class="container">
    <h2>5 min crafts</h2>
    <h6>Great and funny DIY Paper craft ideas and tutorials. Fun diy-projects, crafts, experience the joy of doing it yourself!</h6>
    <div class="row">
          <section class="screen">
            <p>click on a video below to watch it here</p>
            <iframe  id="vidframe"  width="560" height="315" style="display:none"
                            src="" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </section>              
        
        <div id="vids"></div>
    </div>
</div>