<section class="container">
      <form class="form-signin">
            <h6 class="form-signin-heading">Provide us your valuable feedback</h6>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" placeholder="Email address"/>
            <textarea type="description" placeholder="What would you like to tell us?"></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Feedback</button>
      </form>

      <h4>Recent Feedbacks</h4>
</section>